$hover-color : rgba(0, 0, 0, 0.12);
$gradient-linear: linear-gradient(90deg, #00c0f3 0%, #bd8cbf 60.56%, #5f84c2 100%);

.tl-main-container{
    transform: translateZ(0);
    min-width: 50px;
    min-height: 30px;
    padding: 16px;
    cursor: pointer;
    background: #fff;
    &:hover:before {
      right: 0;
    }
    .tl-card-inner-content{
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      font-size:16px;
    }
  }
  
  .tl-animate{
      box-shadow: 0 2px 8px 2px $hover-color;
      &:hover {
        box-shadow: 0 12px 31px 0 $hover-color;
      }
      &:before{
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        top: 0;
        background: $gradient-linear;
        height: 2px;
        transition-property: right;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
        overflow: auto;
       }
    }