.app-container {
  padding: 20px 0px;
  background: floralwhite;
  .tl-card-footer{
    margin-bottom: 0px;
  }
  .main-container{
    max-width: 1024px;
  }
  .main-header{
    display: flex;
    justify-content:center;
  }
  .sub-header{
    margin-top: 75px;
  }
  .card-col{
    margin-top: 30px;
  }
  .card-view-container {
    width: 100%;
    margin: 10px auto 60px;
    display: flex;
    width: 95%;
    padding-left: 0px;
    
    .card-view {
      border-radius: 3px;
      width: 100%;
      color: rgb(55, 61, 73);
      margin: auto;
      
    }
    .card-flex {
      display: flex;
      margin-right: 30px;
      justify-content: "space-around";
    }
  
    .card-table {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      height: 300px;
      width: 300px;
    }
    .card-wrapper {
      height: 80%;
      width: 80%;
    }
  }  
}
